.content.article {
  background-color: #f7f7f7;
}

.content.article p:not(.en-example p) {
  margin-bottom: 40px;
}

.en-example {
  border: solid 1.5px #000;
}

.article ul {
  margin: 42px 0;
  border-radius: 20px;
}

.step-lessons-area {
  margin: 60px 10% 0;
}

.step-lessons-area h2 {
  margin-left: 25px;
  margin-bottom: 15px;
  font-size: 1.1rem;
  font-weight: bold;
  font-style: italic;
}

.step-lessons-area .basic-button {
  margin-top: 20px;
  font-weight: bold;
}

#other-lessons {
  position: relative;
  background-color: #edf0ff;
  padding: 60px 30px 20px;
  border-radius: 30px;
}

#other-lessons h3 {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
  background-color: #5e17eb;
}

#other-lessons h4 {
  border-left: solid 2px #5e17eb;
  margin-bottom: 12px;
  padding-left: 5px;
}

#other-lessons h4:not(:first-of-type) {
  margin-top: 25px;
}

#other-lessons li a.we-are-here {
  color: #000000de;
  font-weight: bold;
  text-decoration: underline;
}

#other-lessons ul li {
  margin-bottom: 8px;
}

#other-lessons ul li a {
  color: #777;
  transition: .1s;
}
#other-lessons ul li a:hover {
  color: #000000de;
}

.step-lessons-area .basic-button-outer {
  margin-top: 20px;
  margin-bottom: 40px;
}
