.content-blue {
  background-color: #edf0ff;
}

.content-green {
  background-color: #edfff2;
}

.content-gray {
  background-color: #f7f7f7;
}

.lesson-list {
  font-size: 1.4rem;
  font-weight: bold;
}

.lesson-list li {
  color: #777;
  transition: .15s;
}
.lesson-list a {
  display: block;
  margin-bottom: 25px;
  color: #777;
  transition: .15s;
}
.lesson-list li:hover,
.lesson-list li a:hover {
  color: #000000de;
}
